.albumsList {

    & .albums_list {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: space-between;

        & div {
            flex: 0 0 calc(16% - 25px);
            text-align: center;
        }
    }

    & .albums_filter{
        display: flex;
        justify-content: end;
        margin-bottom: 20px;
    }
}
