.notFound {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    align-items: baseline;
    justify-items: center;
    width: 80%;
    margin: auto;
    color: #3f3e3e;
}
